.sidebar {
  width: 350px;
  height: 100vh;
  background-color: #12601a;
  color: #fff;
  padding: 20px;
  position: fixed;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-left: 50px;
  margin-top: 80px;
}

.nav-links li {
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.nav-link .icon {
  margin-right: 10px;
  font-size: 30px;
}

.logout-btn {
  background-color: #e74c3c;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 70%;
  display: flex;
  align-items: center;
}

.logout-btn .icon {
  margin-right: 10px;
  font-size: 18px;
}
