.sidebar {
  width: 220px;
  height: 100vh;
  background: #1f4b2c;
  color: white;
  padding: 30px;
  position:fixed;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Profile Section */
.profile-section {
  text-align: center;
  margin-bottom: 30px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* makes image circular */
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.3s;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.profile-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fbfcfd;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.logout {
  margin-top: 50px;
}
